<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfólio de Projetos</title>
</head>
<body>
<form method="post" class="form">
    <p><h3>Cadastrar Portfólio de Projetos</h3></p>
    <div class="form">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" required />

        <p>

            <label for="dataInicio">Data Inicio: </label>
            <input type="date" name="dataInicio" id="dataInicio" required />

        <p>

            <label for="dataPrevisaoFim">Data Previsão Fim: </label>
            <input type="date" name="dataPrevisaoFim" id="dataPrevisaoFim" required />

        <p>

            <label for="dataFim">Data fim: </label>
            <input type="date" name="dataFim" id="dataFim" required />

        <p>

            <label for="descricao">Descricao: </label>
            <input type="text" name="descricao" id="descricao" required />

        <p>

            <label for="status">Status: </label>
            <input type="text" name="status" id="status" required />

        <p>

            <label for="orcamento">Orcamento: </label>
            <input type="text" name="orcamento" id="orcamento" required />

        <p>

            <label for="risco">Risco: </label>
            <input type="text" name="risco" id="risco" required />

        <p>
        <p>

            <label for="nomeGerente">Nome Gerente: </label>
            <input type="text" name="nomeGerente" id="nomeGerente" required />

        <p>
            <button type="submit" action="/cadastrar">Cadastrar</button>

    </div>
</form>

</body>
</html>